body{
	margin: 0px;
	padding: 0px;
	font-family: "ＭＳ ゴシック",sans-serif;
}

#top{
	height:256px;
	width:256px;
	background-image: url("../img/top.png");
}

#mask{
	width: 256px;
	height: 256px;
	background-color:black;
	opacity: 0.3;
}

#menu{
	width: 256px;
	height: 256px;
	padding-top: 60px;
	position: relative;
	bottom: 256px;
	color:white;
}

#menu0{

}

#menu1{
	display: none;
}

#menu2{
	display: none;
}

#top h1{
	width: 128px;
	margin: 0px auto 40px auto;
	text-align: center;
}

.selected{
	color: yellow;
}

#top p{
	text-align: center;
	margin: 0px;
	font-size: 14px;
}

#map{
	display: none;
}

#map_layer0{
	margin: 0px auto;
	position: relative;
}

#map_layer1{
	margin: 0px auto;
	position: absolute;
	top: 0px;
	left: 0px;
	z-index: 10;
}

#map_layer2{
	height:256px;
	width:256px;
	margin: 0px auto;
	position: absolute;
	top: 0px;
	left: 0px;
	z-index: 20;
	background-image: url("../img/cloud.png");
	background-size: contain;
	background-position: 100px 100px;
	opacity: 0.3;
}

#message_main{
	background-image: url("../img/text.png");
	width: 250px;
	height: 60px;
	z-index: 30;
	position: absolute;
	top: 100px;
	left: 0px;
	display: none;
}

#message_sub{
	position: absolute;
	top: 5px;
	left: 170px;
	z-index: 25;
}

#time-limit{
	font-size: 16px;
	font-weight: bold;
	color: gold;
}

#turn-limit{
	font-size: 16px;
	font-weight: bold;
	color: gold;
	margin-top:5px;
}

.clear{
	background-position: -25px -120px;
}

.timeup{
	background-position: -120px -287.5px;
}

div[id^="row"]{
	width: 800px;
	height: 32px;
	margin: 0px;
	padding: 0px;
}

div[id^="col"]{
	width: 32px;
	height: 100%;
	margin: 0px;
	padding: 0px;
	float: left;
	overflow: hidden;
}

.block{
	background-image: url("../img/block.png");
	background-size: contain;
}

.player{
	background-image: url("../img/charactor.png");
	background-repeat: no-repeat;
}

.ball{
	background-image: url("../img/ball.png")
}

.goal{
	background-image: url("../img/goal.png");
	background-size: contain;
}

#map_layer0 .blank{
	background-image: url("../img/blank.png");
	background-size: contain;
}

.back0{
	
	background-position: 0px 0px;
}

.forward0{
	background-position: 0px -96px;
}

.left0{
	background-position: 0px -32px;
}

.right0{
	background-position: 0px -64px;
}

.back1{
	
	background-position: -32px 0px;
}

.forward1{
	background-position: -32px -96px;
}

.left1{
	background-position: -32px -32px;
}

.right1{
	background-position: -32px -64px;
}

.back2{
	
	background-position: -64px 0px;
}

.forward2{
	background-position: -64px -96px;
}

.left2{
	background-position: -64px -32px;
}

.right2{
	background-position: -64px -64px;
}